/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 20px 20px;
}

main {
  margin: 20px 40px;
}

.link {
  margin: 20px 40px;
}

table {
  margin: 20px 20px;
}

table th {
  padding-bottom: 5px;
}

table td {
  padding-right: 5px;
  padding-left: 5px;
  margin: 33px;
}

.text {
  margin: 20px 40px;
  display: block;
}

.show1 {
  display: flex;
  margin: 20px 80px;
}

.show2 {
  display: flex;
  margin: 20px 80px;
}

.edit {
  margin: 20px 40px;
}

.flash {
  color: #008000;
  margin: 20px 80px;
}

.validates{
  width: 450px;
  border: 2px solid #ff0000;
  padding: 7px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.herrors {
  margin: -7px;
  padding: 20px 10px;
  color: #ffffff;
  background-color: #ff0000;
}

ul {
  margin: 40px;
}